.searcher .searcher-box {
    margin-bottom: 60px;
}
.searcher .searcher-box input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #8187ef;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
}
.searcher .searcher-box input::-webkit-search-cancel-button{
    position:relative;
    right:20px;  

    height: 20px;
    width: 20px;
    border-radius:10px;
    background: #8187ef;
    color: #fff;
    content: "-";
    cursor: pointer;
}
.searcher h6.error{
    text-align: center;
    font-size: 26px;
}