.cocktail-desc-container{
    background: #0f0824;
    margin-top: 60px;
    padding: 30px;
    border-radius: 15px;
}

.cocktail-desc-container .desc{
    padding: 30px;
    border-radius: 15px;
    border:1px solid #8187ef;
}
.cocktail-desc-container img{
    border-radius: 15px;
}
.cocktail-desc-container .desc ul{
    color: #fff;
    margin: 15px 0;
    padding: 0;
    list-style: none;
}
.cocktail-desc-container .desc ul li{
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 10px;
}
.cocktail-desc-container .desc ul li:before {
    content: "";
    background-color: #8187ef;
    position: relative;
    width: 10px;
    height: 10px;
    left: 0;
    margin-right: 5px;
    top: -1px;
    border-radius: 2px;
    display: flex;
}
@media screen and (max-width:991px) {
    .cocktail-desc-container h2{
        margin-top: 60px;
    }
    .cocktail-desc-container{
        text-align: center;
    }
    .cocktail-desc-container .desc ul li{
        text-align: center;
        justify-content: center;
    }
}